<h1 class="title">
  {{ title }}
</h1>
<app-modo-nocturno class="modo-nocturno"></app-modo-nocturno>
<app-footer class="footer"></app-footer>
<app-lista class="lista"></app-lista>
<app-cards
  title="Clase de Inglés"
  imgSrc="https://images.pexels.com/photos/4386429/pexels-photo-4386429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
></app-cards>
<app-cards title="Clase de Chino" (click)="onClick()" imgSrc=""></app-cards>
<app-cards title="Clase de Alemán" imgSrc=""></app-cards>
<app-cards title="Clase de Francés" imgSrc=""></app-cards>
<app-cards title="Clase de Portugués" imgSrc=""></app-cards
><app-cards title="Clase de Japonés" imgSrc=""></app-cards>
